# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
# Serve specific html files when these paths are accessed, optional trailing slash
RewriteRule ^moola-token/?$ moola-token.html [L]
RewriteRule ^404/?$ 404.html [L]
RewriteRule ^index/?$ index.html [L]
RewriteRule ^license-agreement/?$ license-agreement.html [L]
RewriteRule ^privacy-policy/?$ privacy-policy.html [L]
RewriteRule ^vault/?$ vault.html [L]
RewriteRule ^wallet/?$ wallet.html [L]
# Standard WordPress rules
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
